// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "typeahead.scss";
@import "loading-bar.css";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$black: #000;
$light-grey: #AAA;
$white: #FFF;
$error-red: #a94442;
$link-blue: #1a0dab;

@mixin helvetica-font {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    @include helvetica-font;
    padding-bottom: 20px;
}

.container {
    max-width: 800px;
}

a {
  cursor: pointer;
  color: $black;
  &:visited {
    color: $black;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &:hover {
    color: $black;
    text-decoration: underline;
  }
  &.home:hover {
    text-decoration: none;
    color: lighten($black, 25%);
  }
}

button {
  &:focus {
    outline: none;
  }
}

.banner {
    text-align: left;
    font-weight: 200;
    padding: 50px;
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 1.5em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.action {
    text-align: center;
    button {
        font-size: 1.5em;
        margin: 10px;
    }
    a {
        font-size: 1.3em;
    }
    form {
      max-width: 250px;
    }
}

@mixin no-borders {
    border: none;
    shadow: none;
    box-shadow: none;
    transition: none;
    -webkit-box-shadow: none;
    -webkit-transition: none;
}

@mixin dotted-border {
  @include no-borders;
  border-bottom: 2px dotted;
}

form {
    max-width: 400px;
    margin: auto;
    text-align: center;
    .form-control {
        font-size: 1.3em;
        @include dotted-border;
        @include helvetica-font;
        border-color: $light-grey;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        &:focus {
            @include no-borders;
            border-bottom: 2px dotted;
            border-color: $black;
        }
    }
    input,textarea {
      &.ng-dirty.ng-invalid {
        border-bottom: 3px dotted;
        border-color: $error-red;
      }
    }
}

.header {
  background: $white;
  font-size: 1.3em;
  margin: 3.5em;
  margin-bottom: 5em;
  h1 {
    display: inline-block;
    font-size: 2em;
  }
  ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-left: 1em;
    }
  }
}

form.wgaf-action-form {
  max-width: 700px;
  font-size: 1.05em;
  display: block;
  margin: auto;
  &.wgaf-follow-form {
    max-width: 400px;
  }
}

.flash {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: centre;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.form-control.ng-dirty.ng-invalid {
  @extend .has-error;
}

.form-control.ng-dirty.ng-valid {
  @extend .has-success;
}

.links-list {
  padding: 8px;
  padding-bottom: 0px;
  border-radius: 2px;
  display: block;
  word-wrap: break-word;
  a.link {
    color: $link-blue;
  }
  span.time {
    color: lighten($black, 70%);
    font-size: 0.95em;
    float: right;
  }
}

div.dashboard {
  max-width: 600px;
  margin: auto;
}

div.followers,div.following,div.recent {
  margin-top: 3em;
}

div.recent h4 {
  margin-bottom: 1.5em;
}

div.followers,div.following p {
  font-size: 1.1em;
}
