<form role="form" name="changePasswordForm">
    <div class="form-group">
      <input type="password" class="form-control" placeholder="New password" ng-model="change.password" required="true" ng-minlength="4">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirm password" ng-model="change.confirmPassword" required="true" ui-validate="'$value===change.password'" ui-validate-watch="'change.password'">
    </div>
    <div class="form-group">
      <button ng-disabled="change.processing || changePasswordForm.$invalid" type="submit" class="btn btn-default btn-lg" ng-click="change.submit()">Change password</button>
    </div>
</form>
