<form role="form" name="shareForm" class="wgaf-action-form wgaf-share-link-form">
  <div class="form-group">
    <input ng-model="share.url" type="url" placeholder="Link" class="form-control"
           required="true"/>
  </div>
  <div class="form-group">
    <textarea ng-model="share.summary" rows="2" placeholder="~160 word summary, if you like." ng-maxlength="160" class="form-control"></textarea>
  </div>
  <div class="action">
    <button ng-disabled="sharing || shareForm.$invalid" type="button" class="btn btn-default btn-lg" ng-click="shareLink()">g.a.f</button>
  </div>
</form>
