<form role="form", id="login-form">
    <div class="form-group">
        <input type="username", class="form-control", id="login-username", placeholder="Username">
        <div class="form-group">
            <input type="password", class="form-control", id="login-password", placeholder="Password">
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn btn-default btn-lg">Sign in</button>
        <div>
            or <a ui-sref="cover.sign-up">Sign up</a>
        </div>
    </div>

</form>
